<footer id="Contact" class="page-footer default_color scrollspy">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Let's chat!</h5>
        <form class="col s12" action="https://formspree.io/bwbazemore@uga.edu" method="post">
          <div class="row">
            <div class="input-field col s6">
              <i class="mdi-action-account-circle prefix white-text"></i>
              <input id="icon_prefix" name="name" type="text" class="validate white-text" required>
              <label for="icon_prefix" class="white-text">Name</label>
            </div>
            <div class="input-field col s6">
              <i class="mdi-communication-email prefix white-text"></i>
              <input id="icon_email" name="_replyto" type="email" class="validate white-text" required>
              <label for="icon_email" class="white-text">Email</label>
            </div>

            <input type="hidden" name="_subject" value="Brad someone emailed you from your site"/>
            <input type="text" name="_gotcha" style="display:none"/>
            <input type="hidden" name="_next"
                   value="http://bradbazemore.com/formsubmit.html"/>

            <div class="input-field col s12">
              <i class="mdi-editor-mode-edit prefix white-text"></i>
              <textarea id="icon_prefix2" name="message"
                        class="materialize-textarea white-text"></textarea>
              <label for="icon_prefix2" class="white-text">Message</label>
            </div>
            <div class="col offset-s7 s5">
              <button class="btn waves-effect waves-light red darken-1" type="submit" value="Send">Submit
                <i class="mdi-content-send right white-text"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col l3 s12 right-align">
        <h5 class="white-text">Social</h5>
        <div class="container">
          <div class="col offset-s6">
            <a href="https://twitter.com/bwbaze" class="twitter-follow-button" data-size="large"
               data-show-count="false">Follow @bwbaze</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col offset-s6">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UCFyJuToM41YHMZyKjhd88kg" data-layout="default" data-count="hidden"></div>
          </div>
          <div class="col offset-s6">
            <iframe src="https://ghbtns.com/github-btn.html?user=sonyccd&type=follow&count=false"
                    frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>