<div class="section scrollspy" id="Projects">
  <div class="container">
    <h2 class="header text_b">Projects</h2>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/drone.jpg">
          </div>
          <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Autonomous Disaster Information Collection System
                            <i class="mdi-navigation-more-vert right"></i>
                        </span>
            <p>
              <a href="http://static1.squarespace.com/static/52f58bc2e4b039b51c0f4847/t/534d39bbe4b08fc8f4f2d3a4/1397569979866/PosterUAV.pdf"
                 target="_blank">
                Project link
              </a>
            </p>
          </div>
          <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            Autonomous Disaster Information Collection System
                            <i class="mdi-navigation-close right"></i>
                        </span>
            <p>
              Our first responders often go into situations with little knowledge of the environment. I
              was funded to develop a drone that can asses the environment before anyone enters.
              Giving these heroes the information they need to stay safe when facing dangerous situations.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/rpi_cluster.jpg">
          </div>
          <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Raspberry Pi Cluster Test Bed
                            <i class="mdi-navigation-more-vert right"></i>
                        </span>
            <p>
              <a href="http://static1.squarespace.com/static/52f58bc2e4b039b51c0f4847/t/534d3983e4b0f3a97247bf43/1397569923856/PosterRPI.pdf"
                 target="_blank">
                Project link
              </a>
            </p>
          </div>
          <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            Raspberry Pi Cluster Test Bed
                            <i class="mdi-navigation-close right"></i>
                        </span>
            <p>
              Cheaper, smaller and low power distributed computing environments are
              needed to fill a gap that has been growing for many years. These systems can
              be used in many fields such as fault tolerant AI control of drones or as tools for
              learning how to use larger scale systems. They can be used as a method of large
              network monitoring by having many machines watching for potential problems.
              These are but few of the uses for these types of systems.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/jackal.jpg">
          </div>
          <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Autonomous Field Scout
                            <i class="mdi-navigation-more-vert right"></i>
                        </span>
            <p>
              <a href="#Projects">
                More soon
              </a>
            </p>
          </div>
          <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            Autonomous Field Scout
                            <i class="mdi-navigation-close right"></i>
                        </span>
            <p>
              Robots have become commonplace in almost all manufacturing industries. Agriculture is at a
              point that robotics is needed to achieve the output and yet meet sustainability goals needed
              to bring a clean and healthy future to the planet. This system strives to reach this
              goal by leveraging 3D mapping, GPU computing, big data, and cloud based services.
              Automated plant by plant data collection and operations assistance is vital to improving
              yields and yet maintaining a healthy environment. Current systems have been strictly limited
              to lab based settings and do not take a holistic approach to the problem.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/jack-ui.png">
          </div>
          <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                    Jack UI
                    <i class="mdi-navigation-more-vert right"></i>
                  </span>
            <p>
              <a href="https://github.com/sonyccd/jack-ui">
                GitHub
              </a>
            </p>
          </div>
          <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Jack UI
                    <i class="mdi-navigation-close right"></i>
                  </span>
            <p>
              Jack UI is a web application meant to make the operation of ROS enabled field robots intuitive and modern.
              Eliminating the cumbersome operator systems for ROS.

              By leveraging the latest technologies for web applications Jack UI can be used on any device and with any
              ROS robot.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>