<div class="section scrollspy" id="Publications">
  <div class="container">
    <h2 class="header text_b">Publications</h2>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Steps towards an Autonomous Field Scout and Sampling System</div>
        <div class="collapsible-body">
          <p>
            We have developed the framework for creating an autonomous field scout
            (AFS) consisting of a ground vehcle for collecting physical samples and an aerial system working
            that collects images of plants during the growqing season.
            Images will be processed to creat 3-D structure of plants and then examined over time to look
            for
            trends that may indicate early onset plant stress. The ground system (red rover) will then
            navigate
            to those locations identified through aerial imaging and experts analysis and collects leaf
            and/or
            soil samples as needed.
            The rover will return to base and the leaf samples examined by an expert and or sent for
            laboratory
            analysis to confirm specific pathogens or soil nutrient deficiencies. Ealry detercvtion and more
            accurate scouting information is a major goal of the system.
            In the first year of development, we have identified the components and begun assembly of the
            rover
            and testing of the robotic arm for leaf and soil sampling. Data will be collected using a
            tractor,
            GNSS and a UAS this year until the red rover is ready for operation in year 2.
            The system will be developed in the ROS, which has integrated OpenCV and Point Cloud Library,
            for
            navigation and control.
          <p>
            <a href="http://elibrary.asabe.org/abstract.asp?aid=45987" target="_blank">2015 ASABE Annual
              International
              Meeting 152190771.(doi:10.13031/aim.20152190771)
            </a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Data Center Heat Monitoring Using Wireless Sensor Networks</div>
        <div class="collapsible-body">
          <p>
            This paper demonstrates a method for implementing wireless sensor networks to monitor
            temperatures within data centers. Previous methods for monitoring these temperatures are costly
            and dicult to modify once implemented. Multiple TelosB nodes were placed in strategic locations
            based on knowledge of basic heat flow in data centers, to collect temperature readings. It was
            possible to gather data matching the predictions of their placement, and detecting alarming
            trends in the data center's environment. The result is a portable, cost-eective, and energy
            ecient method for gathering precise temperature readings from data centers.
          <p>
            <a href="http://dl.acm.org/citation.cfm?id=2675734&dl=ACM&coll=DL" target="_blank">Bradford W.
              Bazemore and
              Wenjia Li. 2014. Data Center Heat Monitoring Using Wireless Sensor Networks. In Proceedings
              of the 2014 ACM Southeast Regional Conference (ACM SE '14). ACM, New York, NY, USA, ,
              Article 59 , 4 pages. DOI=http://dx.doi.org/10.1145/2638404.2675734
            </a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Low Power Cluster Development System</div>
        <div class="collapsible-body">
          <p>
            This paper presents a solution to the problem of large scale, high cost,
            energy consuming super computers. It details the construction of a small
            foot print, cost effective, and energy efficient cluster system. The system
            uses Raspberry Pi computers to create a cluster that is much less expensive
            and significantly smaller than traditional super computers. The system
            does not sacrifice computing power in proportion to its size and energy
            consumption.
          <p>
            <a href="http://static1.squarespace.com/static/52f58bc2e4b039b51c0f4847/t/53234fc9e4b08e2f1a3b3a9f/1394823113205/SC2014.pdf"
               target="_blank">
              IEEE SoutheastCon 2014 Student Paper Competition 2nd place
            </a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Standardized Construction of HPC Clusters for
          Academic Usage
        </div>
        <div class="collapsible-body">
          <p>
            A model for the standardization of design and implementation of HPC
            clusters to be used in universities is presented. Standardization is achieved
            by using an open-source operating system, network infrastructure, and
            software packages. The cluster is configured for universities intending to
            implement an HPC cluster for research or teaching use. No prior understanding
            of clusters is assumed but a basic understanding of programming,
            networking and computers in general is required.
          <p>
            <a href="http://static1.squarespace.com/static/52f58bc2e4b039b51c0f4847/t/52f7f280e4b0a5a45c1a9ac1/1391981184392/SC2013_3.pdf"
               target="_blank">
              IEEE SoutheastConn 2013 Student Paper Competition 1st place
            </a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>