<div class="section scrollspy" id="Supporters">
  <div class="container">
    <h2 class="header text_b">Thanks to my supporters!</h2>
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img" src="/assets/img/USDA_logo.jpg"/>
          </div>
          <div class="card-content">
            <p>
              The USDA has been a great support for my research. There labs have been pushing the
              frontiers in agriculture for many years, bringing many advancements to farming practices and
              technologies.
            </p>
          </div>
          <div class="card-action">
            <a href="http://www.usda.gov/wps/portal/usda/usdahome" target="_blank">More</a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img" src="/assets/img/fril.jpg"/>
          </div>
          <div class="card-content">
            <p>
              Friluftsliv aims to integrate the architectures of buildings, nature, and computation
              into a regenerative agroecosystem. It is with their support I have been developing robotic
              technologies to bring this vision to reality.
            </p>
          </div>
          <div class="card-action">
            <a href="" target="_blank">More soon</a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img" src="/assets/img/Nvidia_logo.jpg"/>
          </div>
          <div class="card-content">
            <p>
              Nvidia has graciously donated several pieces of equipment to allow my work to continue.
              They have also been a great resource of information on deep learning and computer vision.
            </p>
          </div>
          <div class="card-action">
            <a href="http://www.nvidia.com/page/home.html" target="_blank">More</a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img" src="/assets/img/UGA-logo.jpg"/>
          </div>
          <div class="card-content">
            <p>
              The University of Georgia is where my research and I call home.
            </p>
          </div>
          <div class="card-action">
            <a href="http://www.uga.edu/" target="_blank">More</a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img" src="/assets/img/Spring-Valley-Logo.jpg"/>
          </div>
          <div class="card-content">
            <p>
              Spring Valley Ecofarms is a non-profit organization focusing on education, research and
              outreach to promote more ecologically sustainable agriculture.
            </p>
          </div>
          <div class="card-action">
            <a href="http://www.springvalleyecofarms.org/" target="_blank">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>